


        <mat-nav-list class="nav-list">
          <a mat-list-item  routerLink="/" ><p class="text-white">Home</p></a>

            <a mat-list-item  routerLink="/customer" ><p class="text-white">Customers</p></a>
            <a mat-list-item  routerLink="/product" ><p class="text-white">Products</p></a> 
            <a mat-list-item  routerLink="/transaction" ><p class="text-white">Transactions</p></a> 
            <a mat-list-item  routerLink="/invoice" ><p class="text-white">Invoice</p></a> 

          </mat-nav-list>

